# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Envs / secrets
.env
.env.*
**/.env
**/.env.*

# Virtualenv
.venv/
venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store

# IDE
.vscode/
.idea/