# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
backend/frontend_dist/

# Envs / secrets
.env
.env.*
**/.env
**/.env.*
docker/postgres/.env.db

# Virtualenv
.venv/
venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
*.tsbuildinfo
frontend/.vite/
.DS_Store
frontend/dist/
backups/

# IDE
.vscode/
.idea/


AGENTS.md

